.p-Home.Div1 {
background-color: #ceacac;
}
.p-Home.Div6 {
;
}
.p-Home.Div7 {
text-align: justify;
}
.p-Home.Flex8 {
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
background-color: #ffffff;
}
.p-Home.Flex1 {
display: flex;
justify-content: flex-start;
flex-direction: row;
align-items: flex-start;
}
.p-Home.Flex2 {
display: flex;
align-content: center;
align-self: center;
justify-content: flex-end;
text-align: right;
padding-left: 75px;
margin-left: 255px;
}
.p-Home.Div11 {
margin-top: ;
padding-top: ;
}
.p-Home.Flex9 {
display: flex;
padding-top: 20px;
}
.p-Home.Div12 {
padding-right: 60px;
padding-top: 90px;
width: ;
}
.p-Home.Flex10 {
display: flex;
width: ;
}
.p-Home.Div13 {
width: ;
margin-bottom: ;
padding-bottom: 122px;
}
.p-Home.Div14 {
;
}
.p-Home.Div17 {
width: ;
}
.p-Home.Div18 {
margin-top: 45px;
align-self: auto;
text-align: center;
padding-left: 150px;
}
.p-Home.Flex11 {
display: flex;
justify-content: flex-start;
width: 70%;
text-align: center;
}
.p-Home.Div20 {
padding-left: ;
margin-left: ;
width: 50%;
height: 600px;
color: #f6f6f6;
align-self: auto;
}
.p-Home.Flex13 {
display: flex;
background-color: #FF7629;
font-size: ;
width: 500px;
height: 500px;
padding-left: ;
flex-wrap: wrap-reverse;
}
.p-Home.Div21 {
padding-top: ;
padding-bottom: 20px;
}
.p-Home.Flex19 {
display: flex;
padding-top: ;
align-items: stretch;
justify-content: center;
padding-bottom: 20px;
}
.p-Home.Div23 {
;
}
.p-Home.Div25 {
;
}
.p-Home.Flex20 {
display: flex;
justify-content: center;
padding-left: ;
padding-right: ;
margin-right: ;
}
.p-Home.Div26 {
;
}
.p-Home.Flex21 {
display: flex;
justify-content: space-around;
}
.p-Home.Div27 {
;
}
.p-Home.Flex22 {
display: flex;
}
.p-Home.Div28 {
padding-top: 90px;
padding-bottom: 90px;
margin-bottom: ;
}
.p-Home.Flex23 {
display: flex;
justify-content: center;
}
.p-Home.Div29 {
;
}
.p-Home.Div30 {
padding-top: 15px;
padding-bottom: 15px;
}
.p-Home.Flex24 {
display: flex;
justify-content: center;
padding-left: ;
margin-left: ;
}
.p-Home.Div31 {
padding-top: 15px;
padding-bottom: 15px;
margin-left: ;
padding-left: ;
}
.p-Home.Flex25 {
display: flex;
padding-top: 15px;
margin-left: 150px;
padding-right: 10px;
padding-left: 100px;
padding-bottom: 15px;
}
.p-Home.Div33 {
padding-top: 50px;
padding-bottom: 50px;
margin-top: ;
padding-left: 30px;
padding-right: 30px;
margin-right: 15px;
border-radius: 20px;
border-style: solid;
}
.p-Home.Flex27 {
display: flex;
justify-content: center;
}
.p-Home.Div37 {
;
}
.p-Home.Div38 {
;
}
.p-Home.Div39 {
;
}
.p-Home.Div36 {
padding-left: 30px;
padding-right: 30px;
padding-top: 50px;
padding-bottom: 50px;
border-radius: 20px;
border-style: solid;
margin-right: 15px;
margin-left: 20px;
}
.p-Home.Flex28 {
display: flex;
justify-content: center;
}
.p-Home.Div40 {
;
}
.p-Home.Div41 {
;
}
.p-Home.Div42 {
;
}
.p-Home.Div32 {
padding-top: 15px;
padding-bottom: 15px;
padding-right: ;
margin-right: ;
margin-left: 10px;
}
.p-Home.Flex26 {
display: flex;
padding-top: 15px;
padding-bottom: 15px;
padding-right: 100px;
margin-right: 150px;
}
.p-Home.Div43 {
padding-top: 50px;
padding-bottom: 50px;
padding-left: 30px;
padding-right: 30px;
border-radius: 20px;
border-style: solid;
margin-right: 15px;
}
.p-Home.Flex29 {
display: flex;
align-items: center;
text-align: center;
justify-content: center;
}
.p-Home.Div45 {
;
}
.p-Home.Div46 {
;
}
.p-Home.Div47 {
;
}
.p-Home.Div44 {
padding-left: 30px;
padding-right: 30px;
border-style: solid;
border-radius: 19px;
padding-top: 50px;
padding-bottom: 50px;
margin-right: 15px;
margin-left: 20px;
}
.p-Home.Flex30 {
display: flex;
justify-content: center;
}
.p-Home.Div48 {
;
}
.p-Home.Div49 {
;
}
.p-Home.Div50 {
;
}
.p-Home.Div51 {
;
}
.p-Home.Flex31 {
display: flex;
justify-content: center;
padding-left: ;
}
.p-Home.Div52 {
padding-top: 120px;
padding-bottom: 160px;
background-color: #fdebeb;
margin-bottom: ;
}
.p-Home.Flex32 {
display: flex;
justify-content: center;
}
.p-Home.Div53 {
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.Flex34 {
display: flex;
padding-bottom: 50px;
justify-content: flex-start;
align-items: flex-start;
}
.p-Home.Div63 {
;
}
.p-Home.Flex38 {
display: flex;
border-radius: 30px;
position: relative;
margin-right: ;
padding-right: ;
}
.p-Home.Div64 {
padding-bottom: ;
background-color: #ffffff;
border-radius: 30px;
padding-left: 50px;
padding-right: 60px;
padding-top: 40px;
border-style: solid;
border-color: #faf8f8;
position: relative;
right: 250px;
top: 300px;
width: 300px;
margin-right: ;
}
.p-Home.Div65 {
;
}
.p-Home.Flex39 {
display: flex;
padding-bottom: 10px;
padding-top: 10px;
}
.p-Home.Div67 {
;
}
.p-Home.Div68 {
;
}
.p-Home.Flex40 {
display: flex;
padding-bottom: 20px;
}
.p-Home.Div69 {
align-self: center;
}
.p-Home.Div70 {
;
}
.p-Home.Flex41 {
display: flex;
padding-bottom: 20px;
}
.p-Home.Div71 {
padding-left: ;
padding-top: ;
padding-bottom: ;
padding-right: ;
}
.p-Home.Div54 {
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.Flex35 {
display: flex;
padding-bottom: 5px;
flex-direction: column;
padding-right: 5px;
margin-right: ;
align-self: center;
position: relative;
right: 200px;
top: 80px;
padding-top: 5px;
padding-left: 5px;
}
.p-Home.Div73 {
;
}
.p-Home.Div75 {
;
}
.p-Home.Div76 {
;
}
.p-Home.Div77 {
;
}
.p-Home.Flex42 {
display: flex;
padding-bottom: 20px;
justify-content: space-around;
align-items: center;
align-self: center;
padding-top: 20px;
}
.p-Home.Div78 {
padding-top: 160px;
}
.p-Home.Flex43 {
display: flex;
padding-bottom: 100px;
justify-content: center;
flex-direction: column;
}
.p-Home.Div79 {
align-self: center;
padding-bottom: 30px;
padding-top: 10px;
}
.p-Home.Div80 {
;
}
.p-Home.Div81 {
;
}
.p-Home.Flex44 {
display: flex;
padding-bottom: 50px;
flex-direction: column;
}
.p-Home.Div83 {
;
}
.p-Home.Flex47 {
display: flex;
padding-bottom: 20px;
justify-content: center;
}
.p-Home.Div85 {
;
}
.p-Home.Flex49 {
display: flex;
padding-bottom: 20px;
}
.p-Home.Div87 {
;
}
.p-Home.Flex51 {
display: flex;
padding-bottom: 50px;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}
.p-Home.Div95 {
;
}
.p-Home.Flex57 {
display: flex;
}
.p-Home.Div96 {
;
}
.p-Home.Div97 {
;
}
.p-Home.Div98 {
;
}
.p-Home.Div88 {
;
}
.p-Home.Flex53 {
display: flex;
padding-bottom: 50px;
flex-direction: column;
align-items: center;
}
.p-Home.Div91 {
;
}
.p-Home.Flex56 {
display: flex;
}
.p-Home.Div92 {
;
}
.p-Home.Div93 {
;
}
.p-Home.Div94 {
;
}
.p-Home.Div86 {
;
}
.p-Home.Flex50 {
display: flex;
padding-bottom: 20px;
}
.p-Home.Div89 {
;
}
.p-Home.Flex54 {
display: flex;
padding-bottom: 50px;
flex-direction: column;
align-items: center;
}
.p-Home.Div105 {
;
}
.p-Home.Flex61 {
display: flex;
}
.p-Home.Div106 {
;
}
.p-Home.Div107 {
;
}
.p-Home.Div108 {
;
}
.p-Home.Div90 {
;
}
.p-Home.Flex55 {
display: flex;
padding-bottom: 50px;
flex-direction: column;
align-items: center;
}
.p-Home.Div99 {
;
}
.p-Home.Flex59 {
display: flex;
}
.p-Home.Div100 {
;
}
.p-Home.Div101 {
;
}
.p-Home.Div102 {
;
}
.p-Home.Div84 {
;
}
.p-Home.Flex48 {
display: flex;
justify-content: center;
}
.p-Home.Div109 {
;
}
.p-Home.Flex62 {
display: flex;
padding-bottom: ;
padding-top: 50px;
justify-content: space-between;
align-items: stretch;
}
.p-Home.Div110 {
;
}
.p-Home.Flex63 {
display: flex;
padding-bottom: 150px;
flex-direction: column;
align-content: stretch;
align-self: auto;
background-color: #FF7629;
padding-left: 150px;
padding-top: 150px;
padding-right: 150px;
width: 500px;
height: 500px;
}
.p-Home.Div112 {
;
}
.p-Home.Div113 {
;
}
.p-Home.Div114 {
;
}
.p-Home.Flex65 {
display: flex;
padding-bottom: 50px;
padding-top: 50px;
padding-left: 20px;
}
.p-Home.Div111 {
width: 50%;
align-self: auto;
}
.p-Home.Flex64 {
display: flex;
padding-bottom: ;
justify-content: flex-end;
width: ;
height: 900px;
}
.p-Home.Div115 {
;
}
.p-Home.Flex66 {
display: flex;
padding-bottom: 100px;
padding-top: 50px;
flex-direction: column;
align-items: center;
}
.p-Home.Div116 {
;
}
.p-Home.Flex67 {
display: flex;
}
.p-Home.Div120 {
;
}
.p-Home.Div117 {
;
}
.p-Home.Div118 {
;
}
.p-Home.Div119 {
;
}
.p-Home.Flex68 {
display: flex;
padding-left: 20px;
padding-right: 20px;
}
.p-Home.Div123 {
align-self: center;
}
.p-Home.Flex71 {
display: flex;
}
.p-Home.Div124 {
;
}
.p-Home.Flex72 {
display: flex;
padding-bottom: 20px;
padding-top: 20px;
flex-direction: column;
padding-left: 30px;
padding-right: 30px;
border-style: solid;
border-width: 3px;
border-color: #6b6a6a;
border-radius: 20px;
margin-left: 50px;
margin-right: 50px;
}
.p-Home.Div126 {
;
}
.p-Home.Flex74 {
display: flex;
padding-left: ;
padding-right: ;
}
.p-Home.Div130 {
;
}
.p-Home.Flex76 {
display: flex;
}
.p-Home.Div131 {
;
}
.p-Home.Flex77 {
display: flex;
}
.p-Home.Div132 {
;
}
.p-Home.Flex78 {
display: flex;
}
.p-Home.Div133 {
;
}
.p-Home.Flex79 {
display: flex;
}
.p-Home.Div134 {
;
}
.p-Home.Flex80 {
display: flex;
}
.p-Home.Div127 {
;
}
.p-Home.Div128 {
;
}
.p-Home.Div129 {
;
}
.p-Home.Flex75 {
display: flex;
padding-bottom: 20px;
align-items: center;
}
.p-Home.Div135 {
;
}
.p-Home.Flex81 {
display: flex;
padding-bottom: ;
flex-direction: column;
justify-content: center;
}
.p-Home.Div136 {
;
}
.p-Home.Div137 {
;
}
.p-Home.Div125 {
align-self: center;
}
.p-Home.Flex73 {
display: flex;
align-self: center;
}
.p-Home.Div121 {
;
}
.p-Home.Flex69 {
display: flex;
padding-bottom: 20px;
padding-left: 20px;
padding-right: 20px;
}
.p-Home.Div122 {
;
}
.p-Home.Flex70 {
display: flex;
padding-bottom: 20px;
}
.p-Home.Div138 {
;
}
.p-Home.Flex82 {
display: flex;
background-color: #FFF9F3;
padding-top: 150px;
padding-bottom: 50px;
flex-direction: column;
}
.p-Home.Div139 {
;
}
.p-Home.Flex83 {
display: flex;
padding-top: 10px;
padding-bottom: 10px;
justify-content: space-between;
margin-left: 120px;
margin-right: 80px;
}
.p-Home.Div141 {
;
}
.p-Home.Div142 {
;
}
.p-Home.Flex85 {
display: flex;
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
background-color: #ffffff;
border-radius: 20px;
margin-right: ;
}
.p-Home.Div143 {
;
}
.p-Home.Div140 {
;
}
.p-Home.Flex84 {
display: flex;
padding-top: 20px;
padding-bottom: 20px;
margin-left: 40px;
margin-right: 40px;
justify-content: space-between;
}
.p-Home.Div144 {
margin-left: 50px;
}
.p-Home.Flex86 {
display: flex;
padding-bottom: 0px;
flex-direction: column;
background-color: #ffffff;
border-radius: 35px;
margin-left: 30px;
margin-top: 20px;
margin-bottom: ;
margin-right: 20px;
}
.p-Home.Div146 {
;
}
.p-Home.Div147 {
;
}
.p-Home.Div148 {
;
}
.p-Home.Div145 {
width: 50%;
margin-left: 20px;
}
.p-Home.Flex87 {
display: flex;
padding-bottom: 50px;
flex-direction: column;
padding-left: ;
padding-top: 20px;
padding-right: ;
width: 50%;
}
.p-Home.Div149 {
;
}
.p-Home.Flex88 {
display: flex;
padding-left: 10px;
padding-right: 10px;
}
.p-Home.Div153 {
;
}
.p-Home.Flex92 {
display: flex;
flex-direction: column;
padding-bottom: 20px;
padding-right: ;
padding-left: ;
padding-top: ;
background-color: #ffffff;
margin-right: 20px;
border-radius: 35px;
}
.p-Home.Div159 {
;
}
.p-Home.Div160 {
;
}
.p-Home.Div154 {
;
}
.p-Home.Flex93 {
display: flex;
flex-direction: column;
padding-bottom: 20px;
margin-left: 20px;
background-color: #ffffff;
border-radius: 35px;
}
.p-Home.Div161 {
;
}
.p-Home.Div162 {
;
}
.p-Home.Div150 {
;
}
.p-Home.Flex89 {
display: flex;
padding-left: 10px;
padding-right: 10px;
}
.p-Home.Div151 {
;
}
.p-Home.Flex90 {
display: flex;
padding-bottom: 20px;
flex-direction: column;
background-color: #ffffff;
margin-bottom: 20px;
margin-left: 20px;
border-radius: 35px;
}
.p-Home.Div157 {
;
}
.p-Home.Div158 {
;
}
.p-Home.Div152 {
;
}
.p-Home.Flex91 {
display: flex;
padding-bottom: 20px;
flex-direction: column;
padding-right: ;
padding-top: ;
border-radius: 35px;
background-color: #fffbfb;
margin-right: 20px;
margin-bottom: 20px;
}
.p-Home.Div155 {
;
}
.p-Home.Div156 {
;
}
.p-Home.Div165 {
;
}
.p-Home.Flex96 {
display: flex;
margin-top: ;
padding-top: ;
padding-bottom: ;
justify-content: space-between;
}
.p-Home.Div166 {
;
}
.p-Home.Flex97 {
display: flex;
padding-top: 50px;
padding-bottom: 50px;
padding-left: 10px;
padding-right: 10px;
flex-direction: column;
margin-top: 250px;
margin-left: 200px;
}
.p-Home.Div168 {
;
}
.p-Home.Flex99 {
display: flex;
}
.p-Home.Div171 {
;
}
.p-Home.Div172 {
;
}
.p-Home.Flex100 {
display: flex;
padding-bottom: 10px;
flex-direction: row-reverse;
justify-content: flex-end;
padding-top: 10px;
}
.p-Home.Div175 {
align-self: center;
}
.p-Home.Div173 {
;
}
.p-Home.Flex101 {
display: flex;
padding-bottom: 10px;
padding-top: 10px;
}
.p-Home.Div176 {
align-self: center;
}
.p-Home.Div174 {
;
}
.p-Home.Flex102 {
display: flex;
padding-bottom: 10px;
flex-direction: row-reverse;
justify-content: flex-end;
padding-top: 10px;
align-self: center;
}
.p-Home.Div177 {
align-self: center;
}
.p-Home.Div167 {
;
}
.p-Home.Flex98 {
display: flex;
padding-top: 20px;
padding-bottom: 200px;
padding-left: 20px;
padding-right: 20px;
justify-content: flex-start;
background-color: #ff7629;
}
.p-Home.Div178 {
;
}
.p-Home.Flex103 {
display: flex;
padding-bottom: 50px;
flex-direction: column;
padding-left: 10px;
padding-right: 10px;
justify-content: center;
align-items: flex-start;
background-color: #ffffff;
border-radius: 35px;
padding-top: 50px;
position: relative;
right: 200px;
top: 100px;
border-width: 2px;
border-color: #828282;
border-style: solid;
}
.p-Home.Div179 {
;
}
.p-Home.Flex104 {
display: flex;
padding-left: 20px;
padding-right: 20px;
}
.p-Home.Div186 {
;
}
.p-Home.Flex110 {
display: flex;
padding-bottom: 20px;
flex-direction: column;
}
.p-Home.Div193 {
;
}
.p-Home.Div187 {
;
}
.p-Home.Flex111 {
display: flex;
flex-direction: column;
padding-bottom: 20px;
margin-left: 20px;
}
.p-Home.Div194 {
;
}
.p-Home.Div180 {
;
}
.p-Home.Flex105 {
display: flex;
padding-left: 20px;
padding-right: 20px;
justify-content: space-between;
}
.p-Home.Div183 {
;
}
.p-Home.Flex108 {
display: flex;
padding-bottom: 20px;
flex-direction: column-reverse;
margin-left: 20px;
}
.p-Home.Div192 {
;
}
.p-Home.Div185 {
;
}
.p-Home.Flex109 {
display: flex;
padding-bottom: 20px;
flex-direction: column-reverse;
}
.p-Home.Div191 {
;
}
.p-Home.Div181 {
;
}
.p-Home.Flex106 {
display: flex;
padding-left: 20px;
padding-right: 20px;
}
.p-Home.Div188 {
;
}
.p-Home.Flex112 {
display: flex;
flex-direction: column;
padding-bottom: 20px;
}
.p-Home.Div195 {
;
}
.p-Home.Div189 {
;
}
.p-Home.Flex113 {
display: flex;
flex-direction: column;
padding-bottom: 20px;
margin-left: 20px;
}
.p-Home.Div196 {
;
}
.p-Home.Div182 {
;
}
.p-Home.Flex107 {
display: flex;
padding-left: 20px;
padding-right: 20px;
flex-direction: column-reverse;
}
.p-Home.Div190 {
;
}
.p-Home.Div197 {
;
}
.p-Home.Flex114 {
display: flex;
padding-top: 100px;
padding-bottom: 50px;
justify-content: space-around;
}
.p-Home.Div198 {
;
}
.p-Home.Flex115 {
display: flex;
padding-bottom: 5px;
flex-direction: column-reverse;
}
.p-Home.Div201 {
;
}
.p-Home.Div202 {
;
}
.p-Home.Flex118 {
display: flex;
padding-bottom: 20px;
padding-top: 0px;
padding-left: 10px;
}
.p-Home.Div199 {
;
}
.p-Home.Flex116 {
display: flex;
padding-bottom: ;
padding-top: ;
}
.p-Home.Div203 {
;
}
.p-Home.Flex119 {
display: flex;
padding-bottom: 10px;
flex-direction: column;
margin-left: 20px;
}
.p-Home.Div215 {
;
}
.p-Home.Div217 {
;
}
.p-Home.Div218 {
;
}
.p-Home.Div219 {
;
}
.p-Home.Div220 {
;
}
.p-Home.Div221 {
;
}
.p-Home.Div222 {
;
}
.p-Home.Div223 {
;
}
.p-Home.Div204 {
;
}
.p-Home.Flex120 {
display: flex;
padding-bottom: 10px;
flex-direction: column;
}
.p-Home.Div206 {
;
}
.p-Home.Div208 {
;
}
.p-Home.Div209 {
;
}
.p-Home.Div210 {
;
}
.p-Home.Div211 {
;
}
.p-Home.Div212 {
;
}
.p-Home.Div213 {
;
}
.p-Home.Div214 {
;
}
.p-Home.Div200 {
;
}
.p-Home.Flex117 {
display: flex;
flex-direction: column;
padding-bottom: ;
}
.p-Home.Div225 {
;
}
.p-Home.Div226 {
;
}
.p-Home.Flex121 {
display: flex;
padding-bottom: 5px;
flex-direction: column;
}
.p-Home.Div227 {
;
}
.p-Home.Flex122 {
display: flex;
padding-bottom: 20px;
}
.p-Home.Div228 {
;
}
.p-Home.Flex123 {
display: flex;
padding-bottom: 20px;
}
.p-Home.Image1 {
text-align: left;
margin-left: 75px;
padding-left: 25px;
padding-top: 25px;
padding-bottom: 25px;
}
.p-Home.TextBox5 {
color: #484242;
padding-left: 15px;
padding-right: 15px;
font-size: 25px;
align-self: center;
}
.p-Home.TextBox1 {
padding-left: 52px;
padding-right: 15px;
font-size: 25px;
color: #484242;
align-self: center;
}
.p-Home.TextBox2 {
color: #484242;
padding-left: 15px;
padding-right: 15px;
font-size: 25px;
align-self: center;
}
.p-Home.TextBox4 {
color: #484242;
padding-left: 15px;
padding-right: 15px;
font-size: 25px;
align-self: center;
}
.p-Home.TextBox3 {
padding-left: 15px;
padding-right: 15px;
color: #484242;
font-size: 25px;
align-self: center;
}
.p-Home.Button1 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 18px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #504e4e;
cursor: pointer;
user-select: none;
border-left-width: 1px;
align-self: center;
border-right-width: 1px;
margin-right: 12px;
}
.p-Home.Button2 {
color: #fff3f3;
background-color: #FF7629;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
font-size: 16px;
border-radius: 18px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
border-left-width: 1px;
border-right-width: ;
margin-left: 12px;
}
.p-Home.TextBox6 {
font-size: 60px;
padding-left: 150px;
color: #FF7629;
}
.p-Home.TextBox7 {
width: %;
font-size: 60px;
padding-left: 150px;
border-width: ;
}
.p-Home.TextBox8 {
font-size: 30px;
width: 65%;
height: ;
padding-left: 150px;
color: #504f4f;
padding-top: 25px;
}
.p-Home.Button3 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 20px;
border-radius: 18px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #121213;
cursor: pointer;
user-select: none;
margin-left: 15px;
}
.p-Home.Button4 {
color: #fff3f3;
background-color: #FF7629;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 20px;
border-radius: 18px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
}
.p-Home.Image2 {
font-size: ;
width: 400px;
height: 400px;
border-radius: 18px;
overflow: auto;
float: none;
align-self: center;
padding-right: ;
margin-right: ;
margin-left: ;
word-wrap: normal;
background-origin: padding-box;
position: relative;
box-sizing: content-box;
border-right-width: ;
border-right-style: none;
border-left-width: ;
border-left-style: none;
right: 200px;
}
.p-Home.TextBox10 {
text-align: center;
outline-width: ;
outline-offset: ;
outline-style: ;
font-size: 25px;
}
.p-Home.Image3 {
padding-left: 20px;
padding-right: 20px;
}
.p-Home.Image6 {
padding-left: 20px;
padding-right: 20px;
font-size: ;
line-height: ;
}
.p-Home.Image5 {
padding-left: 20px;
padding-right: 20px;
}
.p-Home.Image7 {
padding-left: 20px;
padding-right: 20px;
}
.p-Home.TextBox11 {
font-size: 25px;
}
.p-Home.Image8 {
;
}
.p-Home.TextBox12 {
text-align: center;
font-size: 25px;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox13 {
;
}
.p-Home.TextBox14 {
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
font-size: 20px;
color: #FF7629;
}
.p-Home.Image9 {
;
}
.p-Home.TextBox15 {
padding-top: 10px;
padding-bottom: 10px;
font-size: 25px;
text-align: center;
}
.p-Home.TextBox16 {
;
}
.p-Home.TextBox17 {
padding-top: 10px;
padding-bottom: 10px;
color: #FF7629;
text-align: center;
font-size: 20px;
}
.p-Home.Image10 {
text-align: center;
}
.p-Home.TextBox18 {
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
font-size: 25px;
}
.p-Home.TextBox19 {
;
}
.p-Home.TextBox20 {
color: #FF7629;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
font-size: 20px;
}
.p-Home.Image11 {
;
}
.p-Home.TextBox21 {
padding-top: 10px;
padding-bottom: 10px;
font-size: 25px;
text-align: center;
}
.p-Home.TextBox22 {
;
}
.p-Home.TextBox23 {
color: #FF7629;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
font-size: 20px;
}
.p-Home.Button5 {
color: #ffffff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 18px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
margin-left: ;
}
.p-Home.Button6 {
color: #151414;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 18px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #000000;
cursor: pointer;
user-select: none;
margin-left: 50px;
}
.p-Home.Image14 {
width: 460px;
border-radius: 30px;
margin-left: 100px;
padding-left: ;
}
.p-Home.TextBox27 {
text-align: center;
font-size: 25px;
}
.p-Home.Image15 {
padding-right: 10px;
padding-left: 10px;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox28 {
padding-left: 20px;
padding-right: 20px;
margin-right: ;
padding-top: 20px;
padding-bottom: 20px;
align-self: center;
font-size: 18px;
}
.p-Home.Image16 {
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox29 {
padding-left: 20px;
padding-right: 20px;
padding-top: ;
font-size: 18px;
}
.p-Home.Image17 {
padding-left: 10px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox30 {
padding-left: 20px;
padding-top: 20px;
padding-bottom: 20px;
padding-right: 20px;
font-size: 18px;
}
.p-Home.TextBox31 {
padding-top: 20px;
padding-bottom: 20px;
width: 500px;
}
.p-Home.TextBox32 {
align-self: auto;
text-align: left;
font-size: 30px;
}
.p-Home.TextBox33 {
padding-bottom: 20px;
width: 500px;
padding-top: 10px;
}
.p-Home.Button8 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 18px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
}
.p-Home.Button9 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 18px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #000000;
cursor: pointer;
user-select: none;
}
.p-Home.TextBox34 {
text-align: center;
width: 400px;
}
.p-Home.TextBox35 {
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
font-size: 30px;
}
.p-Home.Image19 {
width: 250px;
border-radius: 30px;
padding-left: 10px;
padding-right: 10px;
}
.p-Home.TextBox39 {
border-radius: 20px;
font-size: 25px;
text-align: right;
position: relative;
left: 35px;
top: 35px;
background-color: #ffffff;
padding-left: 5px;
padding-right: 5px;
align-self: auto;
}
.p-Home.TextBox40 {
text-align: center;
font-size: 25px;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox41 {
text-align: center;
font-size: 18px;
}
.p-Home.Image18 {
width: 250px;
border-radius: 30px;
}
.p-Home.TextBox36 {
background-color: #ffffff;
padding-left: 5px;
padding-right: 5px;
border-radius: 20px;
left: 35px;
top: 35px;
font-size: 25px;
position: relative;
}
.p-Home.TextBox37 {
text-align: center;
font-size: 25px;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox38 {
text-align: center;
font-size: 18px;
}
.p-Home.Image21 {
width: 250px;
border-radius: 30px;
padding-left: 10px;
}
.p-Home.TextBox45 {
background-color: #ffffff;
padding-left: 5px;
padding-right: 5px;
border-radius: 20px;
font-size: 25px;
position: relative;
left: 35px;
top: 35px;
}
.p-Home.TextBox46 {
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
font-size: 25px;
}
.p-Home.TextBox47 {
text-align: center;
font-size: 18px;
}
.p-Home.Image20 {
width: 250px;
border-radius: 30px;
padding-left: 10px;
padding-right: 10px;
}
.p-Home.TextBox42 {
background-color: #ffffff;
left: 35px;
top: 35px;
position: relative;
font-size: 25px;
border-radius: 20px;
padding-left: 5px;
padding-right: 5px;
}
.p-Home.TextBox43 {
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
font-size: 25px;
}
.p-Home.TextBox44 {
text-align: center;
font-size: 18px;
}
.p-Home.Button10 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
font-size: 16px;
border-radius: 18px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
}
.p-Home.Button11 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
font-size: 16px;
border-radius: 18px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #000000;
cursor: pointer;
user-select: none;
margin-left: 155px;
}
.p-Home.TextBox48 {
width: 300px;
font-size: 40px;
color: #ffffff;
padding-top: 50px;
padding-left: 20px;
}
.p-Home.TextBox49 {
width: 300px;
padding-top: 40px;
padding-bottom: 40px;
color: #ffffff;
font-size: 20px;
padding-left: 20px;
}
.p-Home.Button12 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
font-size: 16px;
border-radius: 18px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffffff;
cursor: pointer;
user-select: none;
margin-left: 60px;
}
.p-Home.Button13 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
font-size: 16px;
border-radius: 18px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #000000;
cursor: pointer;
user-select: none;
}
.p-Home.Image22 {
width: 718px;
height: 800px;
}
.p-Home.TextBox52 {
padding-bottom: 20px;
font-size: 20px;
}
.p-Home.TextBox50 {
padding-bottom: 20px;
font-size: 40px;
}
.p-Home.TextBox51 {
padding-bottom: 20px;
font-size: 18px;
width: 500px;
}
.p-Home.Image23 {
width: 50px;
background-color: #FF7629;
border-radius: 50px;
padding-left: 5px;
padding-top: 5px;
padding-bottom: 5px;
padding-right: 5px;
}
.p-Home.Image25 {
width: 30px;
height: ;
}
.p-Home.Image26 {
width: 30px;
}
.p-Home.Image27 {
width: 30px;
}
.p-Home.Image28 {
width: 30px;
}
.p-Home.Image29 {
width: 30px;
}
.p-Home.TextBox53 {
align-self: auto;
text-align: left;
font-size: 25px;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox54 {
text-align: left;
width: 450px;
font-size: 15px;
padding-top: 5px;
padding-bottom: 10px;
}
.p-Home.Image30 {
width: 50px;
border-radius: 50px;
height: 50px;
padding-right: ;
margin-right: 20px;
}
.p-Home.TextBox55 {
font-size: 18px;
}
.p-Home.TextBox56 {
font-size: 18px;
}
.p-Home.Image24 {
width: 50px;
border-width: ;
background-color: #FF7629;
border-radius: 50px;
padding-top: 5px;
padding-left: 5px;
padding-bottom: 5px;
padding-right: 5px;
}
.p-Home.Carousel2 {
width: ;
padding-top: 5px;
height: ;
padding-left: 20px;
padding-bottom: 5px;
padding-right: 0px;
border-radius: ;
color: #000000;
text-align: center;
font-size: ;
}
.p-Home.Button14 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 18px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #000000;
cursor: pointer;
user-select: none;
margin-left: 60px;
}
.p-Home.Button15 {
color: #fff;
background-color: #FF7629;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 18px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
}
.p-Home.TextBox57 {
font-size: 40px;
margin-left: ;
}
.p-Home.TextBox58 {
;
}
.p-Home.Image31 {
width: 650px;
height: ;
border-radius: 35px;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
}
.p-Home.TextBox59 {
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
padding-bottom: 10px;
font-size: 30px;
}
.p-Home.TextBox60 {
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
padding-bottom: 10px;
font-size: 25px;
}
.p-Home.TextBox61 {
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.Image34 {
width: 300px;
border-radius: 35px;
border-top-left-radius: 35px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-top-right-radius: 35px;
}
.p-Home.TextBox66 {
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
padding-top: 10px;
}
.p-Home.TextBox67 {
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
}
.p-Home.Image35 {
width: 300px;
border-top-left-radius: 35px;
border-bottom-left-radius: 0px;
border-top-right-radius: 35px;
}
.p-Home.TextBox68 {
padding-left: 10px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
}
.p-Home.TextBox69 {
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
}
.p-Home.Image33 {
width: 300px;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}
.p-Home.TextBox64 {
padding-left: 10px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox65 {
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
}
.p-Home.Image32 {
width: 300px;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}
.p-Home.TextBox62 {
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox63 {
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox71 {
font-size: 40px;
}
.p-Home.TextBox72 {
width: 220px;
padding-top: 10px;
padding-bottom: 10px;
font-size: ;
}
.p-Home.Image36 {
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
}
.p-Home.TextBox74 {
width: 150px;
padding-top: ;
}
.p-Home.Image37 {
padding-left: 10px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
}
.p-Home.TextBox75 {
;
}
.p-Home.Image38 {
padding-left: 10px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox76 {
;
}
.p-Home.Button16 {
color: #fff;
background-color: #ff7629;
padding-top: 10px;
padding-left: 15px;
padding-bottom: 10px;
padding-right: 15px;
font-size: 16px;
border-radius: 35px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
width: 40%;
margin-left: 20px;
margin-top: 20px;
}
.p-Home.Input4 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 35px;
margin-top: 20px;
}
.p-Home.TextBox80 {
font-size: 18px;
}
.p-Home.Input5 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 35px;
margin-top: 20px;
}
.p-Home.TextBox81 {
font-size: 18px;
}
.p-Home.Input3 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 35px;
margin-top: 20px;
}
.p-Home.TextBox79 {
font-size: 18px;
}
.p-Home.Input2 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 35px;
margin-top: 20px;
margin-left: ;
}
.p-Home.TextBox78 {
font-size: 18px;
}
.p-Home.Input6 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 35px;
margin-top: 20px;
}
.p-Home.TextBox82 {
font-size: 18px;
}
.p-Home.Input7 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 35px;
margin-top: 20px;
}
.p-Home.TextBox83 {
font-size: 18px;
}
.p-Home.Input1 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 100px;
padding-left: 135px;
padding-bottom: 100px;
padding-right: 135px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 35px;
margin-top: 20px;
}
.p-Home.TextBox77 {
font-size: 18px;
}
.p-Home.Image39 {
;
}
.p-Home.TextBox84 {
width: 250px;
padding-left: 10px;
padding-top: 20px;
padding-bottom: 10px;
}
.p-Home.Image40 {
width: 30px;
}
.p-Home.Image41 {
width: 30px;
}
.p-Home.Image42 {
width: 30px;
}
.p-Home.Image43 {
width: 30px;
}
.p-Home.Image44 {
width: 30px;
}
.p-Home.TextBox94 {
padding-bottom: 25px;
font-size: 25px;
text-align: left;
}
.p-Home.TextBox95 {
padding-bottom: 10px;
font-size: 18px;
}
.p-Home.TextBox96 {
padding-bottom: 10px;
font-size: 18px;
}
.p-Home.TextBox97 {
padding-bottom: 10px;
font-size: 18px;
}
.p-Home.TextBox98 {
padding-bottom: 10px;
font-size: 18px;
}
.p-Home.TextBox99 {
padding-bottom: 10px;
font-size: 18px;
}
.p-Home.TextBox100 {
padding-bottom: 10px;
font-size: 18px;
}
.p-Home.TextBox101 {
padding-bottom: 10px;
font-size: 18px;
}
.p-Home.TextBox90 {
padding-bottom: 10px;
font-size: 18px;
}
.p-Home.TextBox86 {
width: ;
padding-bottom: 25px;
font-size: 25px;
text-align: left;
}
.p-Home.TextBox87 {
padding-bottom: 10px;
font-size: 18px;
}
.p-Home.TextBox88 {
padding-bottom: 10px;
font-size: 18px;
}
.p-Home.TextBox89 {
padding-bottom: 10px;
font-size: 18px;
}
.p-Home.TextBox91 {
padding-bottom: 10px;
font-size: 18px;
}
.p-Home.TextBox92 {
padding-bottom: 10px;
font-size: 18px;
}
.p-Home.TextBox93 {
font-size: 18px;
}
.p-Home.TextBox102 {
padding-bottom: 10px;
font-size: 25px;
}
.p-Home.Image45 {
width: 150px;
margin-left: 20px;
border-radius: 35px;
}
.p-Home.Image46 {
width: 150px;
border-radius: 35px;
}
.p-Home.Image47 {
width: 150px;
border-radius: 35px;
}
.p-Home.Image48 {
width: 150px;
margin-left: 20px;
border-radius: 35px;
}
